# Exclude everything that cmakelists has been generating
cmake-build-debug\*
cmake-build-debug/*
cmake-build-release\*
cmake-build-release/*
venv\*
venv/*

build/*

results/*
img/*

.idea/*

*.xml
*.iml

*.includecache
*.internal
*.make
*.obj

*.pyc


