# Exclude everything that cmakelists has been generating
cmake-build-debug\*
cmake-build-debug/*
cmake-build-release\*
cmake-build-release/*
venv\*
venv/*

.idea/*

*.xml
*.iml

*.includecache
*.internal
*.make
*.obj

*.pyc


src/cmake-build-release/CMakeFiles/progress.marks
